<a href="https://colab.research.google.com/github/umesh03B/ma22c048_2023_PL/blob/main/Assignment/Assignment_9/Pandas_from_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

d0 = {2: 'a', 1: 'b', 3: 'c'}#dictionary d0 has keys 2, 1, and 3, with corresponding values 'a', 'b', and 'c'
pd0 = pd.Series(d0)#create a Series from this dictionary

print(pd0)

2    a
1    b
3    c
dtype: object

In [ ]:
# Sort the indices
#Sort the Series pd0 by its index
pd0 = pd0.sort_index()

print(pd0)

1    b
2    a
3    c
dtype: object

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}

# Create Series from d1 and d2
pd1 = pd.Series(d1)
pd2 = pd.Series(d2)

# Concatenate the Series into a DataFrame
#The pd1 and pd2 Series are concatenated horizontally along axis 1 to create a DataFrame dd.
# The keys parameter is used to label the columns 'd1' and 'd2' in the resulting DataFrame.
dd = pd.concat([pd1, pd2], axis=1, keys=['d1', 'd2'])

print(dd)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
column_d1 = dd['d1']  # Access the 'd1' column
print(column_d1)

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64

In [ ]:
columns_d1_and_d2 = dd[['d1', 'd2']]  # Access both 'd1' and 'd2' columns
print(columns_d1_and_d2)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access rows from index 1 to 2 (inclusive)
sliced_rows = dd[1:3]#stop index is not include.
print(sliced_rows)

    d1   d2
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access specific rows by label and specific columns by label
sliced_subset = dd.loc[['a', 'b', 'c'], ['d1', 'd2']]
print(sliced_subset)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access specific rows and columns by integer position
sliced_subset_iloc = dd.iloc[1:3, 0:1]  # Access rows 1 and 2, columns 0
print(sliced_subset_iloc)

    d1
b  2.0
c  NaN

In [ ]:
# Access the first row (integer position 0) and the first column (integer position 0)
value = dd.iloc[0, 0]
print(value)

1.0

In [ ]:
# Access a subset of rows and columns using integer positions
subset = dd.iloc[1:3, 0:2]  # Rows 1 and 2, columns 0 and 1
print(subset)

    d1   d2
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access an element by row label 'a' and column label 'd1'
value = dd.loc['a', 'd1']
print(value)

1.0

In [ ]:
# Access a subset of rows and columns by labels
subset = dd.loc[['a', 'b', 'c'], ['d1', 'd2']]
print(subset)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Forward fill along rows (axis 0)
print(f"orignal dataframe\n {dd}\n")
filled_df_rows = dd.fillna(method='ffill', axis=0)
print(f"forwaded filling along axes 0(row) \n{filled_df_rows}")

orignal dataframe
     d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

forwaded filling along axes 0(row)
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0

In [ ]:
# Forward fill along columns (axis 1)

filled_df_columns = dd.fillna(method='ffill', axis=1)
print(f"forwaded filling along axes 1(colume) \n{filled_df_columns}")

forwaded filling along axes 1(colume)
    d1   d2
a  1.0  1.0
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Backward fill along rows (axis 0)
filled_df_rows = dd.fillna(method='bfill', axis=0)
print(f"backward filling along axes 0(row) \n{filled_df_rows}")

backward filling along axes 0(row)
    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Backward fill along columns (axis 1)
filled_df_columns = dd.fillna(method='bfill', axis=1)
print(f"backward filling along axes 1(colume) \n{filled_df_columns}")

backward filling along axes 1(colume)
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  4.0  4.0